body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

main {
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: auto;
    padding: 10px;
    gap: 10px;
}

.elemento {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.product-container {
    display: flex; /* Cambiamos a flex para control más preciso */
    gap: 20px;
    background: white;
    padding: 20px;
    padding-top: var(--header-height);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    flex: 1;
    min-height: 250px;
    justify-content: space-between;
}

.product-section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: var(--light-color);
    
}

.product-image {
    flex: 1;
    min-height: 300px; /* Altura fija para forzar que se vea grande */
    min-width: 300px;
    overflow: hidden;
    align-items: center;
}

.product-datos {
    flex: 1;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    margin-top: 50px;
}


.product-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    
}


.details {

  overflow-wrap: break-word;
  line-height: 1.5;
  min-height: 80px;
  width: 100%; /* <- asegura que ocupe todo el ancho del contenedor padre */
  box-sizing: border-box; 
  display: flex;
  

}


.description {
  overflow-wrap: break-word;
  line-height: 1.5;
  min-height: 80px;
  display: flex;

}
.product-description {
    min-height: 150px; /* Asegura altura incluso sin texto */
    padding: 10px 0;
    color: #333;
    font-size: 1rem;
    flex: 1;
    
}

.price {
    font-size: 1.7em;
    color: #333;
}

.measure {
    margin: 10px 0;
}

select {
    padding: 5px;
    font-size: 1em;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button {
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
}

.button.secondary {
    background: #888;
}

/* Responsive */
@media (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }

    .product-image,
    .details {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
    }

    .button {
        width: 100%;
        text-align: center;
    }
}
