        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f4f4f4;
        }
        main {
            display: grid;
            grid-template-columns: 12fr;
            grid-template-rows: auto;
            padding: 10px;
            gap: 10px;
        }
        .elemento {
            color: aliceblue;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
        }
        .product-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            background: white;
            padding: 20px;
            padding-top: var(--header-height);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .product-section {
            max-width: 1200px; /* Ajustado para hacerlo más estrecho */
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background: var(--light-color);
        }
        .product img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .price {
            font-size: 1.5em;
            color: #333;
        }
        .measure {
            margin: 10px 0;
        }
        select {
            padding: 5px;
            font-size: 1em;
        }
        .buttons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .button {
            background: #333;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .button.secondary {
            background: #888;
        }
